<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="../../Content/app.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">

</head>
<body>

<header>

</header>

<main class="container">
    <h1 class="mb-5">About Us</h1>

    <div>
        <p>Greetings, I'm Hifza Hameed. My group mate and I created this website to assist
            you in getting your website and logo designed. I am a second-year
            Durham College student now studying computer programming and analysis.
            For any further information you can contact us at 416-445-4445
        </p>
        <img src="../../Images/image1.jpeg" alt="" width="199" height="266">
    </div>
    <br>

    <div>
        <p>
            My name is Ethan Chen, a second year programming student in Computer Programming and Analysis. This website that me and my partner designed is intended to help our clients make the best effort. Contact me by email: chensong108330@gmail.com or phone: 416-824-9713.
        </p>
        <img src="../../Images/image2.jpeg" alt="" width="199" height="266">

    </div>
</main>



<!-- Scripting Section -->
<script src="../../Scripts/app.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>