<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Products</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="../../Content/app.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">

</head>
<body>

<header>

</header>

<main class="container">
    <h1 class="mb-5">Our Products</h1>


    <div class="center">
        <p> Three of my favourite projects include a Mobile Application
            (which we created specifically to find work from home employment), a Website, and a Database (database for the hospital).
        </p>
    </div>
    <img src="../../Images/project1.jpg" alt="" width="199" height="266">
    <img src="../../Images/project2.jpg" alt="" width="199" height="266">
    <img src="../../Images/project3.jpg" alt="" width="199" height="266">

    <div>
        <p><br>
            My top 3 favorite projects are:<br><br>
            Lotto Program Generator: Our family and I always wanted to win the jackpot. I came up with that idea since my first year in college and wanted the program to generate winning numbers. I got feedback from my mother who is an expert in math. I hope to win the jackpot so that I can buy my house in The States when I graduate. <br><br>
            <img src="../../Images/Lottoprogram.png" width="450" height="400">
            <br>
            <br>
            <br>
            Winning numbers database: This program displays all the winning numbers that were drawn from the past dates. I have developed a solution that will count the numbers by frequency so that we'll know to play that number next time.<br><br>
            <img src="../../Images/Winningnumbers.png" width="450" length="400">
            <br>
            <br>
            <br>
            Video game website: Once a gamer, my friends helped me to develop a website that involves the use of a Mario Party game that I made up. I developed it on a programming language named Scratch, but included the link to the website so that users can try it out.<br><br>
            <img src="../../Images/MarioPartyWT.png" width="450" length="400">
        </p>
    </div>
</main>



<!-- Scripting Section -->
<script src="../../Scripts/app.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>