<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="../../Content/app.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">

</head>
<body>

<header>

</header>

<main class="container">
    <h1 class="mb-5">Our Services</h1>

    <div class="center">
        <br>
        <p>1)Web Design:
            Our company's motto is to give you a unique website design
            that is ideal for your personal or business website.
        </p>
    </div>

    <div class="center">
        <p> 2)Logo Design:
            With your involvement, our organization will present many strategic
            design options and produce a visual identity for your business that satisfies both your strategic and aesthetic objectives.
        </p>
    </div>
    <div class="center">
        <p> 3)Software Testing: We are skilled in the process of assessing
            and confirming that a software product or application performs as intended.
        </p>
    </div>

    <br>
    <br>
    <div>
        1. Web Developer: We, as a company, make the best efforts to organize the functionality of the code in HTML, CSS, and PHP.
        <br>
        <img src="../../Images/webdeveloper.jpg" width="200" height="250">
        <br><br>
    </div>

    <div>
        2. Programmer Analyst: Our company wants you to analyze code that contains errors and the bugs that lead them to it. Fixing code will help the program run better and will provide the best opportunity for our clients.
        <br>
        <img src="../../Images/programming-2.png" width="200" height="250">
        <br><br>
    </div>

    <div>
        3. Database developer: With your help in database, we keep track of the users who are registered. Our company needs your help in maintaining the users personal information as well as the date they registered.
        <br>
        <img src="../../Images/Databasedeveloper.png" width="200" height="250">
        <br><br>
    </div>
</main>



<!-- Scripting Section -->
<script src="../../Scripts/app.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>